.navbar{
    font-size: 18pt;
}
.navbar-nav a:hover{
    color: red;
}
.mybody span{
    font-size: 1.2rem; 
}
body{
background-image: url(../img/bg.jpg);
/* linear-gradient( 135deg ,transparent, rgba(223, 146, 5, 0.979)), repeating-linear-gradient(-45deg,rgba(209, 112, 2, 0.979) 0%,rgba(209, 112, 2, 0.979) 1%,transparent 1%,transparent 2%), repeating-linear-gradient(45deg,rgb(209, 112, 2, 0.979) 0%,rgb(209, 112, 2, 0.979) 1%,transparent 1%,transparent 2%);  
*/
background-attachment: fixed ;

}

.preview_text{
    background-color: rgba(175, 212, 247, 0.925)
}
.skills{
    
}

.namefont{
    background-color: rgba(68, 72, 112, 0.781);
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-size: 2.5em;
    color: black;
}
.foto{
    max-width: 214px;
    max-height: 214px;
}

.foterlogo:hover{
    color:red;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:rgb(72, 0, 145);
}
.socials li{
    list-style-type: none;
}
.socialsul{
    padding-inline-start: 0px;
}
 .codewars{
    margin-bottom: 3px;    
 }
 .menuicon{
     margin-bottom: 12px;
 }
.btn{
    white-space: normal
}
.contacts{
    padding-bottom: 50px;
}