.navbar-nav a:hover{
    color: red;
}
body{
    background-image: linear-gradient(rgb(215, 247, 212), rgba(233, 147, 19, 0.884));  
}
.mybody{
    margin-top: 20px
}
.skills{
    
}
.mybody span{
    font-size: 1.2rem; 
}
.namefont{
    
}
.foto{
    max-width: 214px;
    max-height: 214px;
}

.foterlogo:hover{
    color:red;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color:rgb(72, 0, 145);
}
.socials li{
    list-style-type: none;
   }