.navbar{
    font-family: 'Bangers', cursive;
    font-size: 18pt;
}
.navlogo{
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: #cca820;
}
.navlogo:hover{
color:rgb(250, 125, 10);   
}
.bg-nav-btn{
    background-color: rgb(178, 84, 44); 
}
.bg-nav{
    background-color: #5e1384bd;
}
.mybody span{
    font-size: 1.2rem; 
}
body{
background-position: center;    
background-image: url(../img/csbg.jpg);
background-attachment: fixed ;

font-family: 'Merriweather', serif;
font-weight: 600;
}

.bgcontaner{
    background-color: rgba(193, 117, 31, 0.6);
}

.namefont{
    border-radius: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 5px;
    font-size: 2.5em;
    color:rgba(14, 8, 12, 0.66)/*rgb(0, 120, 255)*/;
    font-family: 'Fredoka One', cursive;
}
.namefont:hover{
    cursor: default;
}
.foto{
    max-width: 214px;
    max-height: 214px;
}
.socials li{
    list-style-type: none;
}
.socialsul{
    padding-inline-start: 0px;
}
 .codewars{
    margin-bottom: 3px;    
 }
 .menuicon{
     margin-bottom: 12px;
 }
.btn{
    white-space: normal
}
.contacts{
    padding-bottom: 50px;
}
.bg-practice{
    background-color: rgba(100, 10, 90, 0.62);
    color: rgb(255, 255, 255);
}
.text_preview{
   color: rgb(14, 8, 12)
}
span.text_preview{
    font-family: 'Merriweather', serif;
    font-weight: 600;
}
p.text_preview{
    font-family: 'Merriweather', serif;
    font-weight: 400;
}
.list-group-item.active{
    background-color:rgb(90, 9, 65);
 
}
.list-group-item-color {
    color: #2f1a38;
    background-color: #daac75e3;
    border-color: #ff5800;
}
.scroll{
    position: relative;
    height: 120px;
    overflow: auto;				
}

#scrollUp{
    width:70px;
    height: 70px;        
    border: none;
    border-radius: 35px;
    text-align:center;    
    position:fixed;
    bottom:5px;
    right:5px;
    cursor:pointer;
    display:none;
    background-color: rgba(183, 94, 41, 0.99);
    color:rgb(252, 218, 253);    
}

#arrowup{
    height: 70px;
    width: 70px;
}